:root {
	--border-color: #000000;
	--radius: 0;
	--border-size: 1px;
	--size: 100px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.shape {
	transition: all .5s ease-in-out;
	width: var(--size);
	height: var(--size);
	border: var(--border-size) solid var(--border-color);
	border-radius: var(--radius);
	margin-top: 100px;
}