* {
	box-sizing: border-box;
}

body, html, .wrapper, section {
	height: 100%;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section h1 {
	text-align: center;
}

section p {
	padding: 0 50px;
	text-align: justify;
}

.slide-in {
	transition: 0.3s ease-in-out all;
	transform: translateX(100%) scale(0.95);
}

.slide-in.active {
	transform: translateX(0) scale(1);
}

small {
	text-align: center;
	margin: 0 auto;
}